* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  @media (max-width: 400px) {
    font-size: 8px;
  }
  @media (max-width: 300px) {
    font-size: 7px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
li {
  list-style: none;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
.heading {
  font-size: 4rem;
  text-decoration: underline;
  text-transform: uppercase;
}
