* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 200vh;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: #34495e;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: #fff;
  text-align: center;
  @include center-flex;
  &__heading {
    font-size: 4rem;
  }
}
