.hero {
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
  padding: 2rem;
  &__contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 2rem;
    & p {
      color: #1d7df8;
      font-size: 2rem;
      line-height: 3rem;
      margin: 1rem 0;
    }
  }
  &__btn {
    width: 16rem;
    padding: 1.4rem 1rem;
    margin-top: 1rem;
    background-color: #1d7df8;
    color: #fff;
    border-radius: 0.6rem;
    font-weight: 500;
  }
  @media (max-width: 450px) {
    width: 100%;
    padding: 1rem;
  }
}

h1 {
  font-size: 6rem;
  color: #2c3e50;
  @media (max-width: 660px) {
    font-size: 4rem;
  }
  @media (max-width: 460px) {
    font-size: 4rem;
  }
}

.bubble {
  width: 13rem;
  height: 13rem;
  border: 0.1rem solid white;
  border-radius: 50%;
  position: absolute;
  &:hover {
    transition: transform 0.4s !important;
    transform: scale(1.1) !important;
  }
}

.bubble.jshine {
  background: linear-gradient(100deg, #12c2e9, #c471ed, #f64f59);
  top: 25%;
  right: 15%;
}
.bubble.sublime {
  top: 45%;
  right: 25%;
  background: linear-gradient(100deg, #56ccf2, #2f80ed);
}
.bubble.timber {
  top: 65%;
  right: 15%;
  background: linear-gradient(100deg, #1a2980, #26d0ce);
}
@media (max-width: 1075px) {
  .hero {
    height: fit-content;
    &__contentWrapper {
      margin-top: 3rem;
    }
  }
  .bubble__wrapper {
    display: flex;
    & .bubble {
      position: static;
    }
  }
}
