.header {
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 10;
  &__logo {
    width: 9rem;
    height: 9rem;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    &Link {
      padding-top: 4.8rem;
      margin: 0 1rem;
      cursor: pointer;
    }
  }
  @media (max-width: 400px) {
    justify-content: flex-start;
  }
}
