.header {
  &__logo {
    width: 11rem;
    position: absolute;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 1rem;
    &Link {
      padding-top: 4.8rem;
      margin: 0 1rem;
    }
  }
}
